.post {
  width: 65%;
  margin: 2%;
}
.post-card {
  box-shadow: 0 0 16px gray;
  padding: 2%;
  transition: ease all 0.2s;
  max-height: 160px;
}
.post-card:hover {
  box-shadow: 0 0 26px gray;
  transition: ease all 0.2s;
}

.post-title {
  font-size: 20px;
  color: #333;
  text-decoration: none;
  font-weight: 800;
  cursor: pointer;
}
.post-title:hover {
  color: #0c4da2;
}

.post-content a {
  text-decoration: none;
}
.post-divider {
  border-bottom: 1px dashed gray;
  margin: 2% 0;
}

.pagination {
  display: flex;
  width: 65%;
  justify-content: center;
  margin: 2%;
}
.pagination > div {
  border: 1px solid #ccc;
  padding: 1% 2%;
  cursor: pointer;
  font-size: 16px;
  transition: ease-in all 0.2s;
}
.pagination > div:hover {
  background-color: #ccc;
  border-color: #888;
}
.current-page {
  background-color: #0c4da2;
  color: #fff;
  border-color: #999;
  pointer-events: none;
}
