.post {
  width: 65%;
  margin: 2%;
}
.post-card {
  box-shadow: 0 0 16px gray;
  padding: 2%;
  transition: ease all 0.2s;
  max-height: 160px;
}
.post-card:hover {
  box-shadow: 0 0 26px gray;
  transform: scale(1.005);
  transition: ease all 0.2s;
}

.post-title {
  font-size: 20px;
  color: #333;
  text-decoration: none;
  font-weight: 800;
  cursor: pointer;
}
.post-title:hover {
  color: #0c4da2;
}
.post-date-and-author {
  display: flex;
  justify-content: flex-start;
  color: #767676;
  margin: 10px 0;
}
.post-date-and-author a {
  cursor: pointer;
  font-weight: 300;
  text-decoration: none;
  color: #555;
}
.post-date-and-author a:hover {
  color: #0c4da2;
}
.post-date::before {
  content: '\f073';
  font-family: FontAwesome;
  font-style: normal;
  margin: 0 10px;
}
.author::before {
  content: '\f007';
  font-family: FontAwesome;
  font-style: normal;
  margin: 0 10px;
}
.comments::before {
  content: '\f075';
  font-family: FontAwesome;
  font-style: normal;
  margin: 0 10px;
}
.author {
  margin: 0 20px;
}
.post-content a {
  text-decoration: none;
}
.post-divider {
  border-bottom: 1px dashed gray;
  margin: 2% 0;
}
