<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/post.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script
      src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"
      type="text/javascript"
    ></script>
    <script src="./scripts/scrollTop.js"></script>
    <script src="./scripts/loadPost.js"></script>
    <title>$hivipoetry</title>
  </head>
  <body>
    <div class="site-logo">$hivipoetry</div>
    <div class="menu-wrapper" id="top-menu">
      <div class="menu-bar">
        <ul>
          <li class="home-icon">
            <a href="/"><i class="fa fa-home"></i></a>
          </li>
          <li><a href="/">Home</a></li>
        </ul>
      </div>
    </div>

    <div class="post-content">
      <div id="content"></div>
      <div class="post-comments">
        <div class="comment-title">Comments:</div>
        <div class="comment-item">
          <div class="commenter-name">Shivi</div>
          <div class="comment-date">June 21, 2008 at 12:07 am</div>
          <div class="comment-msg">This is an awesome poem</div>
        </div>
        <div class="comment-item">
          <div class="commenter-name">Shivi</div>
          <div class="comment-date">June 21, 2008 at 12:07 am</div>
          <div class="comment-msg">This is an awesome poem</div>
        </div>
        <div class="comment-item">
          <div class="commenter-name">Shivi</div>
          <div class="comment-date">June 21, 2008 at 12:07 am</div>
          <div class="comment-msg">This is an awesome poem</div>
        </div>
      </div>

      <div class="divider"></div>

      <div class="related-post">
        <div class="related-post-title">Related post:</div>
        <div class="post-card">
          <a class="post-title" href="#">दिल में उतर जाऊ ऐसे की लहू हो जाऊ</a>
          <div class="post-date-and-author">
            <div class="post-date">October 17,2008</div>
            <div class="author">$hivi</div>
          </div>
          <div class="related-post-content">
            <span class="content">
              दिल में उतर जाऊ ऐसे की लहू हो जाऊ, तेरे इश्क़ में सुबह वनारस शाम
              लखनऊ हो जाऊ | मैंने जज्बातो का इस तरह कवाड़ कर डाला, इश्क़ इश्क़ इश्क़
              लिखा और फिर फाड़ डाला|
            </span>
            <span class="read-more"><a href="readmore">Read More...</a></span>
          </div>
        </div>
        <div class="post-card">
          <a class="post-title" href="#">दिल में उतर जाऊ ऐसे की लहू हो जाऊ</a>
          <div class="post-date-and-author">
            <div class="post-date">October 17,2008</div>
            <div class="author">$hivi</div>
          </div>
          <div class="related-post-content">
            <span class="content">
              दिल में उतर जाऊ ऐसे की लहू हो जाऊ, तेरे इश्क़ में सुबह वनारस शाम
              लखनऊ हो जाऊ | मैंने जज्बातो का इस तरह कवाड़ कर डाला, इश्क़ इश्क़ इश्क़
              लिखा और फिर फाड़ डाला|
            </span>
            <span class="read-more"><a href="readmore">Read More...</a></span>
          </div>
        </div>
        <div class="post-card">
          <a class="post-title" href="#">दिल में उतर जाऊ ऐसे की लहू हो जाऊ</a>
          <div class="post-date-and-author">
            <div class="post-date">October 17,2008</div>
            <div class="author">$hivi</div>
          </div>
          <div class="related-post-content">
            <span class="content">
              दिल में उतर जाऊ ऐसे की लहू हो जाऊ, तेरे इश्क़ में सुबह वनारस शाम
              लखनऊ हो जाऊ | मैंने जज्बातो का इस तरह कवाड़ कर डाला, इश्क़ इश्क़ इश्क़
              लिखा और फिर फाड़ डाला|
            </span>
            <span class="read-more"><a href="readmore">Read More...</a></span>
          </div>
        </div>
        <div class="post-divider"></div>
      </div>
    </div>

    <footer>$hivipoetry | Theme : Developed By <a href="#">Shiviraj</a></footer>
    <div class="top-arrow hidden">
      <i class="fa fa-chevron-up"></i>
    </div>
  </body>
</html>
